.weather-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  opacity: 80%;
  border-radius: 15px;
}

.forecast-day {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  margin-top: 20px;
}

#heart-icon {
  margin-left: 5px;
  font-size: 18px;
  color: red;
}

#buttons-container {
  background-color: rgba(50, 50, 50, 0.8);
  padding: 10px;
}

label {
  color: white;
}

button {
  color: white;
  background-color: #464343;
  padding: 8px 16px;
  margin: 0 8px;
  cursor: pointer;
  border: none;
}

#favorite-cities-select
{
  margin-left: 80%;
}

#favorite-cities-button
{
  margin-left : 0%;
}

#list-div
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  opacity: 80%;
  border-radius: 15px;
}

#favorite-cities-list
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  opacity: 80%;
  border-radius: 15px;
}
